h1{
  font-size: 100px;
  color: rgb(149, 10, 126);
  
 
}

button, input{
  padding: 20px 40px;
  margin: 10px;
  font-size: 20px;
  background-color: rgb(7, 114, 15);
  color: white;
  font-weight: bold;
}